<div class="container-fluid">
	<h3><span translate="seller-dgl.new"/></h3>
	<h3><span translate="seller-dgl.add"/></h3>

	<h4><span translate="seller-dgl.seller"/></h4>Name       : <input type="text" ng-model="seller.name" autofocus>
	<h4><span translate="seller-dgl.category"/></h4>Category:  <input type="text" ng-model="seller.category">
	<h4><span translate="seller-dgl.Image"/></h4>ImagePath :  <input type="text" ng-model="seller.imagePath">
	<br>
	<br>
	<button class="btn btn-default" ng-click="onOk()"> Ok <span translate="seller-dgl.addupdate"/></button>
	<button class="btn btn-default" ng-click="onCancel()"> Cancel <span translate="seller-dgl.cancel"/></button>
</div>