<!DOCTYPE html>
<html ng-app="project3App">
	<head>
		<title>WEPO Assignment 3!!! - Online Web Store</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">

		<!--KEEP THIS ONE -->
		
		<link rel="stylesheet" href="src/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="src/vendor/angular-toastr/dist/angular-toastr.min.css" type="text/css">
		<link rel="stylesheet" href="styles/app.css">
	</head>
	<body class="General" >
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<!--	<div class="container" ng-controller="LanguageController">
				<div title="Home" class="navbar-header">
					<button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
			            <span class="sr-only">Toggle Language</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>o
			            <span class="icon-bar"></span>
			        </button>
				</div> -->
				<div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a role="button" ng-click="changeLanguage('is')">
								<img  title="Íslensku" alt="Íslensku"src="http://lipis.github.io/flag-icon-css/flags/4x3/is.svg" height="20"/>
							</a>
						</li>
						<li>
							<a role="button" ng-click="changeLanguage('en')">
								<img title="English" alt="English" src="http://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" height="20"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main class="container">
			<div class="clearfix" ng-view id="content"></div>
		</main>
		<toaster-container></toaster-container>
		<hr>
		<footer class="container footer">
			<small>Created by: <a> hahahahaha</a></small>
		</footer>
		<!-- inject:vendor:js -->
		<script src="src/vendor/angular/angular.js"></script>
		<script src="src/vendor/jquery/dist/jquery.js"></script>
		<script src="src/vendor/angular-route/angular-route.js"></script>
		<script src="src/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="src/vendor/angular-translate/angular-translate.js"></script>
		<script src="src/vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>
		<script src="src/vendor/angular-mocks/angular-mocks.js"></script>
		<script src="src/vendor/lodash/lodash.js"></script>
		<script src="src/vendor/bootstrap/dist/js/bootstrap.js"></script>
		<!-- endinject -->

		<!-- inject:app:js -->
		<script src="scripts/app-324017f6.js"></script>
		<script src="scripts/appconfig.js"></script>
		<!-- endinject -->

		<!-- inject:templates:js -->
		<script src="scripts/templates-b8a19197.js"></script>
		<!-- endinject -->
	</body>
</html>